### IntelliJ IDEA
# User settings not necessarily related to this project.
.idea/

# Project settings including the way the application should be launched etc.
!.idea/runConfigurations/

# Project settings.
*.iml
